<%- include("partials/head") %>
<div class="subcontainer">
	<section id="subheader">
		<div>
			<h1><a href="/r?q=<%= sub.name %>">r/<%= sub.name %></a></h1>
			<p>amount of subscribers <%= sub.members.length %></p>
			<p><%= sub.description %></p>
		</div>
		<div class="button highlight">
			<a href="/r/<%= sub.name %>/new"> create new post</a>
		</div>
		<button form="subscribe" class="button">
			<%= subscribed?"unsubscribe":"subscribe" %>
		</button>
	</section>
	<section id="postcontainer">
		<% for( let i = 0; i < posts.length; i++ ) { %>
		<div class="post">
                  <div class="posttext">
                        <h2><%= posts[i].title %></h2>
                        <p><%= posts[i].content %></p>
                  </div>
                  <% if (posts[i].author === userid) { %>
                        <div class="usercontrols">
                              <a href="#"><img src="/img/edit.png" alt=""></a>
                              <a href="#"><img src="/img/delete.png" alt=""></a>
                        </div>
                  <% } %>
		</div>
		<% } %>
	</section>
</div>
<form action="/r/<%= sub.name %>/subscribe" method="post" id="subscribe"></form>
<%- include("partials/footer") %>
