<%- include("partials/head") %>
<h1>you are currently viewing the <%= sub.name %> subreddit</h1>
<p>amount of subscribers <%= sub.members.length %></p>
<p><%= sub.description %></p>
<a href="/r/<%= sub.name %>/new"> create new post</a>

<% for( let i = 0; i < posts.length; i++ ) { %>
      <div>
            <h2><%= posts[i].title %></h1>
            <p><%= posts[i].content %></p>
      </div>
<% } %>
<a href="/"> go back to Home </a>
<%- include("partials/footer") %>